.main-content .main-about .interests .interests-text {
    visibility: hidden;
    top: 64%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.main-content .main-about .ion-ios-game-controller-a-outline .ion-ios-game-controller-a-outline-text {
    width: 158px;
    left: 13.3%;
    margin-left: 79px;
}

.main-content .main-about .ion-ios-americanfootball-outline .ion-ios-americanfootball-outline-text {
    width: 146px;
    left: 17.3%;
    margin-left: 73px;
}

.main-content .main-about .ion-ios-baseball-outline .ion-ios-baseball-outline-text {
    width: 162px;
    left: 18%;
    margin-left: 81px;
}

.main-content .main-about .ion-ios-basketball-outline .ion-ios-basketball-outline-text {
    width: 168px;
    left: 20%;
    margin-left: 84px;
}

.main-content .main-about .ion-ios-musical-notes .ion-ios-musical-notes-text {
    width: 112px;
    left: 29%;
    margin-left: 56px;
}

.main-content .main-about .ion-model-s .ion-model-s-text {
    width: 50px;
    left: 38.25%;
    margin-left: 25px;
}

.main-content .main-about .ion-ios-monitor-outline .ion-ios-monitor-outline-text {
    width: 94px;
    left: 36.35%;
    margin-left: 47px;
}

.main-content .main-about .ion-ios-film-outline .ion-ios-film-outline-text {
    width: 150px;
    left: 33%;
    margin-left: 75px;
}

.main-content .main-about .ion-ios-camera-outline .ion-ios-camera-outline-text {
    width: 100px;
    left: 41%;
    margin-left: 50px;
}

.main-content .main-about .ion-social-android-outline .ion-social-android-outline-text {
    width: 74px;
    left: 46.5%;
    margin-left: 37px;
}

.main-content .main-about .ion-social-windows-outline .ion-social-windows-outline-text {
    width: 78px;
    left: 48.5%;
    margin-left: 39px;
}

.main-content .main-about .ion-social-chrome-outline .ion-social-chrome-outline-text {
    width: 114px;
    left: 47.5%;
    margin-left: 57px;
}

.main-content .main-about .ion-earth .ion-earth-text {
    width: 84px;
    left: 53.5%;
    margin-left: 42px;
}

.main-content .main-about .ion-icecream .ion-icecream-text {
    width: 84px;
    left: 56%;
    margin-left: 42px;
}

.main-content .main-about .ion-pizza .ion-pizza-text {
    width: 52px;
    left: 61.9%;
    margin-left: 26px;
}

.main-content .main-about .ion-fork .ion-fork-text {
    width: 112px;
    left: 57.3%;
    margin-left: 56px;
}

.main-content .main-about .ion-knife .ion-knife-text {
    width: 112px;
    left: 57.3%;
    margin-left: 56px;
}

.main-content .main-about .ion-ios-game-controller-a-outline:hover .ion-ios-game-controller-a-outline-text,
.main-content .main-about .ion-ios-americanfootball-outline:hover .ion-ios-americanfootball-outline-text,
.main-content .main-about .ion-ios-baseball-outline:hover .ion-ios-baseball-outline-text,
.main-content .main-about .ion-ios-basketball-outline:hover .ion-ios-basketball-outline-text,
.main-content .main-about .ion-ios-musical-notes:hover .ion-ios-musical-notes-text,
.main-content .main-about .ion-model-s:hover .ion-model-s-text,
.main-content .main-about .ion-ios-monitor-outline:hover .ion-ios-monitor-outline-text,
.main-content .main-about .ion-ios-film-outline:hover .ion-ios-film-outline-text,
.main-content .main-about .ion-ios-camera-outline:hover .ion-ios-camera-outline-text,
.main-content .main-about .ion-social-android-outline:hover .ion-social-android-outline-text,
.main-content .main-about .ion-social-windows-outline:hover .ion-social-windows-outline-text,
.main-content .main-about .ion-social-chrome-outline:hover .ion-social-chrome-outline-text,
.main-content .main-about .ion-earth:hover .ion-earth-text,
.main-content .main-about .ion-icecream:hover .ion-icecream-text,
.main-content .main-about .ion-pizza:hover .ion-pizza-text,
.main-content .main-about .ion-fork:hover .ion-fork-text,
.main-content .main-about .ion-knife:hover .ion-knife-text {
    visibility: visible;
}