.main-content .main-title {
    z-index: 1;
    position: absolute;
    width: 550px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    height: 18%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgb(50,50,50);
    padding-left: 14px;
    background-color: rgba(0,0,0,0.15);
}

.main-content .main-title .main-title-name {
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 100px;
    letter-spacing: 14px;
}

.main-content .main-title .main-title-title {
    position: relative;
    bottom: 89%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 25px;
    letter-spacing: 14px;
}

.main-content .main-title:hover {
    cursor: pointer;
}

.main-content .main-about {
    position: absolute;
    width: 900px;
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    top: 33%;
    text-shadow: 2px 2px 0px rgb(50,50,50);
    background-color: rgba(0,0,0,0.30);
    padding: 5px 20px;
}

.main-content .main-about .main-about-close {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 20px;
    color: rgba(255,255,255,0.8)
}

.main-content .main-about .main-about-close:hover {
    cursor: pointer;
}

.main-content .main-about .main-about-bio {
    position: relative;
    text-align: justify;
}

.main-content .main-about .interests-container {
    text-align: center;
    margin-bottom: 15px;
}

.main-content .main-about .main-social {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
}

.main-content .main-about .main-social .main-social-icons {
    padding-left: 5px;
    padding-right: 5px;
}

.main-content .main-works-container {
    position: absolute;
    top: 33%;
    left: 50%;
}

.main-content .main-works-container .main-works {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.main-content .main-works-container .main-works img {
    height: 500px;
}

.main-content .main-works-container .main-works-close {
    position: absolute;
    z-index: 1;
    right: -472px;
    top: -248px;
    font-size: 20px;
    color: rgba(255,255,255,1)
}

.main-content .main-works-container .main-works-close:hover {
    cursor: pointer;
}

.navbar {
    z-index: 1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40%;
    width: 100%;
}

.navbar .works {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 83%;
    max-height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    overflow: hidden;
}

.navbar .works .examples {
    position: relative;
    display: table-cell;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0.5%;
    opacity: 0.75;
}

.navbar .works .examples:hover {
    opacity: 1;
    cursor: pointer;
}

.lower-indicator {
    position: fixed;
    bottom: 9%;
    width: 100%;
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 0px rgb(50,50,50);
    font-size: 120px;
 }