*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.landing {
    background-color: rgb(50,50,50);
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Amatic SC';
    color: white;
    min-height: 100%;
}

.main-content {
    position: fixed;
    min-height: 100%;
    width: 100%;
    background-image: url(../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.75);
}

/* Medium and small screen (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}